<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 和风天气密钥 -->
		<add key="WeatherKey" value="请自己申请和风天气密钥"/>
		<!-- 查询地区请求地址 -->
		<add key="LocationRequestUrl" value="https://geoapi.qweather.com/v2/city/lookup?"/>
		<!-- 查询天气请求地址 -->
		<add key="WeatherRequestUrl" value="https://devapi.qweather.com/v7/grid-weather/now?"/>
	</appSettings>
</configuration>